.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {

  .user{
    display:flex;
    flex-direction: row;
    align-items: center;
    
  }

  .avatar{
    width:200px;
    height:200px;
    margin-right:3vw;
    margin-left:5vw;
    margin-top:3vh;
    border:1px solid rgb(175, 127, 127);
  }

  li{
    list-style-type: none;
  }

  .question_card{
    width:50vw;
    height:45vh;
    border-radius: 8px;
    margin-left:20vw;
    margin-bottom:10vh;
    padding-bottom:10vh;
    box-shadow:5px 10px 5px 10px rgba(228, 191, 191, 0.4) ;
  }


.App-link {
  color: #61dafb;
}

.actual_question{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.view_poll{
  width:30vw;
  border-radius:8px;
  border-style: none;
  background-color: #f04242;
  color:white;
  margin-left:10vw;
  padding-top:2vh;
  padding-bottom:2vh;
  margin-bottom:5vh;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
}