
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Tangerine:wght@700&display=swap');

.nav{
  color:white;
  background-color: salmon;
  display:flex;
  flex-direction:row;


}


@media(max-width:599px) {

  .user{
    display:flex;
    flex-direction: row;
    align-items: center;
  
    
  }

  .avatar{
    width:90px;
    height:60px;
    margin-left:5px;
    margin-right:5px;
    border-radius:80px;
    border:2px solid rgb(175, 127, 127);
    float:left;
  }

  li{
    list-style-type: none;
  }

  .login, .question_card{
    width:285px;
  
    border-radius: 8px;
    margin-left:5px;
    margin-bottom:20px;
    margin-top:10px;
    padding-bottom:10px;
    padding-top:10px;
    box-shadow:5px 10px 5px 10px rgba(228, 191, 191, 0.4) ;
    background-color: rgb(252, 248, 248);
  }

  h1,  h3{
    font-family: 'Tangerine', cursive;
    margin-left:2px;
  }

  h1{
    font-size:50px;
    margin-left:5px;
    color:rgb(70, 45, 70);
  }

  h3{
    margin-left:10px;
    font-size:45px;
    color:rgb(37, 15, 37);
  
  }

  p{
    font-size:30px;
    margin-left:15px;
    font-family: 'Tangerine', cursive;
    color:rgb(70, 45, 70);
  }

   .login{
     margin-left:8vw;
     width:85vw;
   }

  .login_form{
    margin-left:15vw;
  }

  select{
    width:20vw;
    background-color: #f04242;
    border-radius: 8px;
    border-style:none;
    padding-top:2vh;
    padding-bottom:2vh;
    color:white;
    padding-left:3vw;
  }


.App-link {
  color: #61dafb;
}

.actual_question{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.view_poll{
  width:250px;
  border-radius:8px;
  border-style: none;
  background-color: #f04242;
  color:white;
  margin-left:13px;
  padding-top:2vh;
  padding-bottom:2vh;
  margin-bottom:5vh;

}


}

@media(min-width:600px)and(max-width:1199px){

  .user{
    display:flex;
    flex-direction: row;
    align-items: center;
  
    
  }

  .avatar{
    width:8rem;
    height:8rem;
    margin:1.5rem;
    border-radius:8rem;
    border:2px solid rgb(175, 127, 127);
    float:left;
  }

  li{
    list-style-type: none;
  }

  .login, .question_card{
    width:50vw;
    height:55vh;
    border-radius: 8px;
    margin-left:20vw;
    margin-bottom:10vh;
    margin-top:10vh;
    padding-bottom:10px;
    padding-top:10px;
    box-shadow:5px 10px 5px 10px rgba(228, 191, 191, 0.4) ;
  }

  h1, h2{
    margin-left:8vw;
    font-family: 'Tangerine', cursive;
  }

  .login_form{
    margin-left:15vw;
  }

  select{
    width:20vw;
    background-color: #f04242;
    border-radius: 8px;
    border-style:none;
    padding-top:2vh;
    padding-bottom:2vh;
    color:white;
    padding-left:3vw;
  }


.App-link {
  color: #61dafb;
}

.actual_question{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.view_poll{
  width:30vw;
  border-radius:8px;
  border-style: none;
  background-color: #f04242;
  color:white;
  margin-left:10vw;
  padding-top:2vh;
  padding-bottom:2vh;
  margin-bottom:5vh;

}
}

@media(min-width:1200px){

  .user{
    display:flex;
    flex-direction: row;
    align-items: center;
  
    
  }

  .avatar{
    width:8rem;
    height:8rem;
    margin:1.5rem;
    border-radius:8rem;
    border:2px solid rgb(175, 127, 127);
    float:left;
  }

  li{
    list-style-type: none;
  }

  .login, .question_card{
    width:50vw;
    height:56vh;
    border-radius: 8px;
    margin-left:20vw;
    margin-bottom:10vh;
    margin-top:10vh;
    padding-bottom:10px;
    padding-top:10px;
    box-shadow:5px 10px 5px 10px rgba(228, 191, 191, 0.4) ;
  }

  h1, h2{
    margin-left:8vw;
    font-family: 'Tangerine', cursive;
  }

  .login_form{
    margin-left:15vw;
  }

  button{
    width:20vw;
    background-color: #f04242;
    border-radius: 8px;
    border-style:none;
    padding-top:2vh;
    padding-bottom:2vh;
    color:white;
    font-size:20px;
    padding-left:3vw;
  }


.App-link {
  color: #61dafb;
}

.actual_question{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.view_poll{
  width:30vw;
  border-radius:8px;
  border-style: none;
  background-color: #f04242;
  color:white;
  margin-left:10vw;
  padding-top:9px;
  padding-bottom:9px;
  margin-bottom:5vh;

}
}