
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Tangerine:wght@700&display=swap');

.nav{
  background-color:#f7ecec; 
  padding-top:2vh;
  padding-bottom:2vh;
  border-bottom:1px solid #f1d0d0;
}

.nav_list{
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  text-decoration: none;
  font-family:'Tangerine';
 

}

.link{
  text-decoration: none;
}


 
  


.tab{
  font-family: 'Tangerine';
 
}
  


.tablist{
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  background-color: rgb(252, 248, 248);
}






@media (max-width:1000px) {

  .tab{
    font-size:25px;
    padding-left:7px;
    padding-right:7px;
    padding-top:7px;
  }

  .tablist{
    padding-top:10px;
  }

  .user{
    display:flex;
    flex-direction: row;
    align-items: center;
  
    
  }

  .avatar{
    width:90px;
    height:90px;
    margin-left:5px;
    margin-right:5px;
    border-radius:90px;
    border:2px solid rgb(175, 127, 127);
    float:left;
  }

  .pic{
    width:90px;
    height:90px;
    border-radius:90px;
  }

  li{
    list-style-type: none;
  }

  .hello{
    font-family: 'Tangerine';
    color:#1b0e1f;
    font-size:20px;
    padding-bottom:3px;
  }

  .who{
    display:flex;
    flex-direction:column;
  }

  .logout{
    margin-top:3px;
    margin-right:20px;
    padding-left:0px;
    background-color:#f7ecec ;
    color:#1b031f;
    border-style:none;
    text-align: center;
  }

  .leader_card, .login, .question_card{

    width:80vw;
    height:auto;
    margin-right:3vw;
    margin-left:1vw;
  
    border-radius: 8px;
  
    margin-bottom:20px;
    margin-top:10px;
    padding-bottom:10px;
    padding-top:10px;
    box-shadow:5px 10px 5px 10px rgba(228, 191, 191, 0.4) ;
    background-color: rgb(252, 248, 248);
  }

  label{
    margin-left:4vw;
    font-family:'Tangerine';
    font-size:35px;
  }

  .or{
    text-align: center;
  }

  .poll_card{
    width:90vw;
    height:auto;
    margin-right:3vw;
    margin-left:3vw;
  
    border-radius: 8px;
  
    margin-bottom:20px;
    margin-top:10px;
    padding-bottom:10px;
    padding-top:10px;
    box-shadow:5px 10px 5px 10px rgba(228, 191, 191, 0.4) ;
    background-color: rgb(252, 248, 248);

  }

  h1,  h3{
    font-family: 'Tangerine', cursive;
    margin-left:2px;
  }

  h1{
    font-size:50px;
    margin-left:5px;
    color:rgb(70, 45, 70);
  }

  h3{
    margin-left:10px;
    font-size:45px;
    color:rgb(37, 15, 37);
  
  }

  p{
    font-size:30px;
    margin-left:15px;
    font-family: 'Tangerine', cursive;
    color:rgb(70, 45, 70);
  }

   .login{
     margin-left:8vw;
     width:85vw;
   }

  .login_form{
    margin-left:15vw;
  }

  select{
    width:50vw;
    background-color: #faf9f9;
    border-radius: 8px;
    border-style:1px solid rgb(26, 11, 26);
    padding-top:2vh;
    padding-bottom:2vh;
    color:rgb(42, 17, 49);
    padding-left:3vw;
    margin-bottom:2vh;
    margin-top:2vh;
  }



.actual_question{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.view_poll{
  width:60vw;
  border-radius:8px;
  border-style:none;
  border-top-left-radius: 1px solid  #f55151;
  box-shadow: 1px 2px 1px 2px rgba(228, 191, 191, 0.4) ;
  background-color:#d45252;
  color:white;
  margin-left:10vw;
  padding-top:2vh;
  padding-bottom:2vh;
  margin-bottom:5vh;
  margin-top:2vh;

}


}



@media(min-width:1001px){

  h1, h2, h3{
    
    font-family: 'Tangerine', cursive;
    margin-left:3vw;
  }

  h1{
    font-size:70px;
  }

  h2{
    font-size:40px;
  }

  h3{
    font-size:40px;
  }
  
  p{
    font-size:20px;
  }

  .user{
    display:flex;
    flex-direction: row;
    align-items: center;
  
    
  }

  .pic{
    width:90px;
    height:90px;
    border-radius:90px;
    margin-left:6vw;
  }

  
  .hello{
    font-family: 'Tangerine';
    color:#1b0e1f;
    font-size:35px;
    padding-bottom:3px;
  }

  .who{
    display:flex;
    flex-direction:column;
  }

  .logout{
    margin-top:3px;
   margin-left:0px;
    padding-left:0px;
    background-color:#f7ecec ;
    color:#1b031f;
    border-style:none;
    text-align: center;
  }

  .avatar{
    width:8rem;
    height:8rem;
    margin:1.5rem;
    border-radius:8rem;
    border:2px solid rgb(175, 127, 127);
    float:left;
  }

  li{
    list-style-type: none;
  }

  .poll_card, .question_card{
    width:60vw;
    height:auto;
    border-radius: 8px;
    margin-left:20vw;
    margin-bottom:10vh;
    margin-top:10vh;
    padding-bottom:5vh;
    padding-top:10px;
    box-shadow:5px 10px 5px 10px rgba(228, 191, 191, 0.4) ;
  }

  .leader_card{
    width:40vw;
    height:60vh;
    border-radius: 8px;
    margin-left:30vw;
    margin-bottom:10vh;
    margin-top:10vh;
    padding-bottom:5vh;
    padding-top:10px;
    box-shadow:5px 10px 5px 10px rgba(228, 191, 191, 0.4) ;

  }

  .leaderboard{
    text-align:center;
  }

  .leader_pic{
    margin-right:3vw;
  }

  .score{
    margin-left:14vw;
  }

  .q{
    font-family:'Tangerine';
    font-size:35px;
  }

  label{
    margin-left:20vw;
    font-family:'Tangerine';
    font-size: 35px;
  }

  .or{
    text-align: center;
    font-family:'Tangerine';
    font-size:35px;
  }

 .tab{
   font-size:45px;
   padding-top:10px;
   padding-left:15px;
   padding-right:15px;
   border-top-left-radius: 1px solid  rgba(228, 191, 191, 0.4);
 }

 .tablist{
   padding-top:20px;
   margin-top:0%;
 }

  .login_form{
    margin-left:15vw;
  }

  
  .login{
    width:40vw;
    height:auto;
    border-radius: 8px;
    margin-left:5vw;
    margin-bottom:10vh;
    margin-right:10vw;
    margin-top:10vh;
    padding-bottom:10px;
    padding-top:10px;
    padding-left:3vw;
    box-shadow:5px 10px 5px 10px rgba(228, 191, 191, 0.4) ;
  }


  button{
    width:20vw;
    background-color: #f04242;
    border-radius: 8px;
    border-style:none;
    padding-top:2vh;
    padding-bottom:2vh;
    color:white;
    font-size:20px;
    padding-left:3vw;
  }




.actual_question{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.view_poll{
  width:30vw;
  font-family:'Tangerine';
  border-radius:8px;
  border-style: none;
  background-color: #331231;
  color:white;
  margin-left:17vw;
  padding-top:9px;
  padding-bottom:9px;
  margin-bottom:5vh;
  margin-top:3vh;

}

select{
  width:30vw;
  border-radius:8px;
  border-style:none;
  background-color: #f1d0d0;
  padding-top:2vh;
  padding-bottom:2vh;
}

.login{
  display:flex;
  flex-direction: column;

}

.tagline{
  font-family:'Tangerine';
  font-size:35px;
  margin-left:7vw;
}

.q{
  font-size:35px;
  font-family:'Tangerine'
}

.loggy{
  display:flex;
  flex-direction: row;
}

.link{
  font-size:30px;
}
}